<ion-view title="My Calendar"> <ion-pane>
<div class="search-box fixed-top">        
        <!-- <section> 
            <form role="form">         
            Text input Search

                <div class="form-group has-feedback search-top">
                <label for="textinput"></label>                  
                <input type="text" class="form-control search" id="Text1" placeholder="Search by event name" required="">
                <span class="glyphicon glyphicon-search margin-right form-control-feedback"></span>
                <a href="#/event/new"><span class="glyphicon glyphicon-plus plus form-control-feedback"></span></a>

            </div>
                                        
        </form>
        </section> -->
         <section> 
            <form role="form">         
            <!-- Text input Search-->

                <div class="form-group has-feedback search-top">
                <label for="textinput"></label>                  
                <input type="text" class="form-control search" id="Text1" placeholder="Search by event name" required="" 
                	data-ng-model="eventSearch" data-ng-change="filterEvents(eventSearch)">
                <span class="glyphicon glyphicon-search margin-right form-control-feedback"></span>
                <a href="" data-ng-click="createEvent()"><span class="glyphicon glyphicon-plus plus form-control-feedback"></span></a>

            </div>
                                        
        </form>

        </section>
    </div>
    <div role="main" class="header-events bg">          
        <section>               
        <div id='calendar'></div>
        </section>
    </div>
</ion-pane> 
</ion-view>
