<ion-view title="Invite People">
        <ion-pane>
		<div role="main" class="container theme-showcase bg">
         <!--  <header>
            <h1 class="center-block"><img src="images/logo.png" alt="AppToDate" /></h1>
          </header> -->
          <section>          
            <div class="margin-top" data-ng-click="ChangeProfilePic()">
                 <img id="profilePic" class="img-responsive dashboard-top-bg" ng-src="{{imageSrc}}" alt=""/>  
             </div>
             <h3 class="text-center">Welcome {{userDetails.first_name}} !</h3> 
              <div class="row"> 
                  <div class="col-6 col-sm-6 col-lg-4"> 
                     <div class="invite-people margin-top" ng-click="invitePeopleClicked()">
                      <img src="images/invite-people.png"  alt=""/> 
                      <h4>Invite People</h4>
                     </div>
                  </div>
                  <div class="col-6 col-sm-6 col-lg-4"> 
                     <div class="calender" ng-click="NavigateToCalendar()" >
                      <img src="images/calender.png" alt=""/> 
                      <h4>Go to Calendar</h4>
                     </div>
                  </div>
                  <div class="col-6 col-sm-6 col-lg-4"> 
                     <div class="invite-people margin-top" ng-click="shareOnFacebook()">
                      <img src="images/f-icon.png"  alt=""/> 
                      <h4>Share on facebook</h4>
                     </div>
                  </div>
                </div>
          </section>
        </div>
        </ion-pane>
      </ion-view>