<ion-view title="{{navTitle}}">
  <ion-pane>
  <div role="main" class="container theme-showcase bg">
         <header>
  <div class="logoP">
   <img src="images/logo.png" alt="AppToDate" />
  </div>
 </header>
          <section>
              <form role="form" class="margin-top80" name="register">
                <!-- Text input-->
                 <div class="form-group has-feedback">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Name" required="" ng-model="user.person.FirstName" ng-pattern="/^[0-9A-Za-z_\s]*$/">
                  <span
					class="glyphicon form-control-feedback" data-ng-class="{'input-invalid': register.name.$invalid, 'input-valid': !register.name.$invalid}"></span>
                </div>

                <div class="form-group has-feedback">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" required="" ng-model="user.username" required>
                  <span
					class="glyphicon form-control-feedback" data-ng-class="{'input-invalid': register.email.$invalid, 'input-valid': !register.email.$invalid}"></span>
                </div>

                <div class="form-group has-feedback">
                  <input type="number" class="form-control" name="phone" id="phone" placeholder="Phone" ng-model="user.phone" required>
                  <span
					class="glyphicon form-control-feedback" data-ng-class="{'input-invalid': register.phone.$invalid, 'input-valid': !register.phone.$invalid}"></span>
                </div>

                <!-- Password input-->
                <div class="form-group  has-feedback">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Password" required="" ng-model="user.password">
                  <span
					class="glyphicon form-control-feedback" data-ng-class="{'input-invalid': register.password.$invalid, 'input-valid': !register.password.$invalid}"></span>
                </div>
                <!-- Password input-->
                <div class="form-group has-feedback">
                  <input type="password" class="form-control" name="confirm" id="confirm-password" placeholder="Confirm Password" required="" 
                  	ng-model="user.confirm_password" required match-field="password">
                  <span
					class="glyphicon form-control-feedback" data-ng-class="{'input-invalid': register.confirm.$invalid, 'input-valid': !register.confirm.$invalid}"></span>
                </div>

                <!-- Button register -->
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-skyblue margin-top110" ng-click="Register(user)"
                data-ng-disabled="register.$invalid">Register</button>
                
                <!-- Button facebook -->
                
                <a href="#/login" id="login" name="login" class="btn btn-primary btn-lg btn-block btn-red margin-top2">Back to Login</a>
                <!-- Button login -->
                 
                                
            </form>
            </section>
        </div>
  </ion-pane>
</ion-view>