<div role="main" class="container bg header-top">
	<section>
		<p class="bold">
			<span class="glyphicon glyphicon-arrow-right"></span> Upgrade to an Ad free version for only .99 cents
		</p>
		<!-- <p class="bold">
			<span class="glyphicon glyphicon-arrow-right"></span> Point 2
		</p>
		<p class="bold">
			<span class="glyphicon glyphicon-arrow-right"></span> Point 3
		</p>
		<p class="bold">
			<span class="glyphicon glyphicon-arrow-right"></span> Point 4
		</p>
		<p class="bold">
			<span class="glyphicon glyphicon-arrow-right"></span> Point 5
		</p>
		<p class="bold">
			<span class="glyphicon glyphicon-arrow-right"></span> Point 6
		</p>
		<p class="bold">
			<span class="glyphicon glyphicon-arrow-right"></span> Point 7
		</p>
		<p class="bold">
			<span class="glyphicon glyphicon-arrow-right"></span> Point 8
		</p> -->
		<a id="upgrade" name="upgrade"
			class="btn btn-primary btn-lg btn-block btn-skyblue"
			data-ng-click="upgrade()">Upgrade</a> <a href="#/home" id="cancel"
			name="cancel"
			class="btn btn-primary btn-lg btn-block btn-red margin-top3">cancel</a>
	</section>
</div>