<ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Invite People" icon="ion-android-friends" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="My Calendar" icon="ion-calendar" href="#/tab/mycalendar">
          <ion-nav-view name="mycalendar-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Groups" icon="ion-android-social" href="#/tab/groups">
        <ion-nav-view name="groups-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>